<%-include('../partials/user-header')%>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const loginForm = document.querySelector('form[action="/signin"]');
            const loginEmailInput = document.getElementById("loginEmail");
            const loginPasswordInput = document.getElementById("loginPassword");

            const errEmail = document.getElementById('errEmail')
            const errPassword = document.getElementById('errPassword')

            loginForm.addEventListener("submit", function (e) {
                
                if (loginEmailInput.value.trim() === "") {
                    e.preventDefault(); // Prevent the default form submission
                    errEmail.innerHTML = "Please enter a valid email address";
                    return;
                }
                
                if (loginPasswordInput.value.trim() === "") {
                    e.preventDefault(); // Prevent the default form submission
                    errPassword.innerHTML = "Password must be entered.";
                    return;
                }
            });
        })

    </script>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Login
                </div>
            </div>
        </div>
        <section class="pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div
                                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                            <h5 class="text-danger">
                                                <%=locals.errorMsgLogin?errorMsgLogin:""%>
                                            </h5>
                                        </div>
                                        <form method="post" action="/signin">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Your Email"
                                                    id="loginEmail" />
                                                <span id="errEmail" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" placeholder="Password"
                                                    id="loginPassword" />
                                                <span id="errPassword" class="text-danger"></span>
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                </div>
                                                <a class="text-muted" href="#">Forgot password?</a>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                    name="login">
                                                    Log in
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% -include('../partials/user-footer')%>